.boxTop {

    text-align: right;
    margin-bottom: 10%;
    

}
a {
    padding: 10px;
 }
.boxCenter {
    padding: 10px;
    margin: auto;
    max-width: 500px;

}

.boxBottom{

}





.boxSearch{
    padding: 10px;
    margin: auto;
    max-width: 500px;
}

.textTemp {
    padding: 10px 20px ;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 20px;
}

.button {
    border-radius: 5px;
    padding: 5px 10px;
}
